In [1]:
'''A notebook that helps cleaning the system.
The main function cleaning_process() checks for rows in your main catalog and for files
in your folder of choise for rows and files respectively, that are not coherent with each other.
Then it deletes the outliers from both categories. Usually you need to run this funcion 
for your lattice folder and your trajectory foldery. 

It is important to note that files in these folders must follow the '''

from os import remove
from os import listdir
import pandas as pd

def splitter(file):
    try:
        return int(file.split('.')[0])
    except:
        return 'fail'

def create_control_sets(df_a, path):    
    A = listdir(path)
    file_control = set(map(splitter, A))
    file_control.remove('fail')
    control_a = set(df_a['id'].values)    
    return file_control, control_a


def find_outliers(file_control, control_a):
    files_to_delete = file_control - control_a  # files to be deleted
    out_a = control_a - (file_control-control_b) # rows to be deleted
    return files_to_delete,out_a


def delete_files(out:set, path):
    for val in out:
        name = f'{path}/{val}.gsd'
        remove(name)
        

def delete_rows(out:set, df):
    df.drop(df[df['id'].isin(out)].index, inplace = True)
    return df


def replace_catalog(df, catalog_path):
    remove(catalog_path)
    df.to_csv(catalog_path, index = False)
    
    
def cleaning_process(catalog_path, folder_path):
    data = pd.read_csv(catalog_path)
    file_num, row_num = create_control_sets(data, folder_path)
    file_outliers, row_outliers = find_outliers(file_num, row_num)
    if len(file_outliers) == 0 and len(row_outliers) == 0 :
        print('Your system is clear!!!')
        return 0
    print('cleaning !!!')
    delete_files(file_outliers, folder_path)
    replace_catalog( delete_rows(row_outliers, data), catalog_path)
    cleaning_process(catalog_path, folder_path)
    
def exp(ide):
    return f'../agroups/goloborodko/projects/chris/trajectory/{ide}.gsd'

In [2]:
data = pd.read_csv('./catalog.csv')
control_a = set(data['id'].values)

In [3]:
F = '../agroups/goloborodko/projects/chris/trajectory/'

In [4]:
a,b = create_control_sets(data, F)

In [5]:
ROWS = b-a
FILES = a-b

In [6]:
FILES

{1603,
 1605,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1638,
 1639,
 1640,
 1641,
 1642,
 1643,
 1644,
 1645,
 1646,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1657,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1684,
 1685,
 1686,
 1687,
 1688,
 1689,
 1690,
 1691,
 1692,
 1693,
 1694,
 1695,
 1696,
 1697,
 1698,
 1699,
 1700,
 1701,
 1702,
 1703,
 1704,
 1705,
 1706,
 1707,
 1708,
 1709,
 1710,
 1711,
 1712,
 1713,
 1714,
 1715,
 1716,
 1717,
 1718,
 1719,
 1720,
 1721,
 1722,
 1723,
 1724,
 1725,
 1726,
 1727,
 1728,
 1729,
 1730,
 1731,
 1732,
 1733,
 1734,
 1735,
 1736,
 1737,
 1738,
 1739,
 1740,
 1741,
 1742,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1764,
 1765,
 1766,
 1767,
 1768,
 1769,
 1770,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1782,
 1783,
 1784,
 1785,
 1786,
 1787,
 1788,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1799,
 1800,
 1801,
 1802,
 1803,
 1804,
 1805,
 1806,
 1807,
 1808,
 1809,
 1810,
 1811,
 1812,
 1813,
 1814,
 1815,
 1816,
 1817,
 1818,
 1819,
 1820,
 1821,
 1822,
 1823,
 1824,
 1825,
 1826,
 1827,
 1828,
 1829,
 1830,
 1831,
 1832,
 1833,
 1834,
 1835,
 1836,
 1837,
 1838,
 1839,
 1840,
 1841,
 1842,
 1843,
 1844,
 1845,
 1846,
 1847,
 1848,
 1849,
 1850,
 1851,
 1852,
 1853,
 1854,
 1855,
 1856,
 1857,
 1858,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1867,
 1868,
 1869,
 1870,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899}

In [7]:
ROWS

set()

In [8]:
for i in FILES:
    remove(exp(i))

In [89]:
for i in ROWS:
    data.drop(data[data['id']==i].index, inplace = True)

In [68]:
data[data['id']<1600]

,id,N,L,steps,block_size,dt,gamma,A,intg,run_time,rho,kT
0,5,10000,46.0,10000000,1000,0.01,0.001,3.0,dpd,689.241821,0.102737,0.001750
1,4,10000,46.0,10000000,1000,0.01,0.001,3.0,langevin,1405.599626,0.102737,0.996022
2,8,10000,32.0,10000000,1000,0.01,0.010,3.0,langevin,1445.723681,0.305176,1.000949
3,9,10000,32.0,10000000,1000,0.01,0.010,3.0,dpd,1567.063550,0.305176,1.019720
4,6,10000,21.0,10000000,1000,0.01,0.010,3.0,langevin,2102.804727,1.079797,1.007375
...,...,...,...,...,...,...,...,...,...,...,...,...
293,345,100000,70.0,10000000,1000,0.01,0.001,3.0,langevin,3176.946891,0.291545,1.001046
294,346,100000,100.0,10000000,1000,0.01,0.001,3.0,langevin,3062.275711,0.100000,1.002084
295,347,100000,46.0,10000000,1000,0.01,0.010,3.0,langevin,3374.751845,1.027369,0.996442
296,349,100000,100.0,10000000,1000,0.01,0.010,3.0,langevin,3036.666987,0.100000,1.000792
297,348,100000,70.0,10000000,1000,0.01,0.010,3.0,langevin,8111.620386,0.291545,0.997541

In [69]:
A = data[data['id']<1600]['id'].values

In [70]:
A = set(A)

In [82]:
data.drop(data[data['id'].isin(A)].index, inplace = True)

In [90]:
data.to_csv('./catalog.csv')